.DS_Store
node_modules
.bash_history
.bash_logout
.bashrc
.profile
.ssh/
.cache/
.composer/
.vim/
.viminfo
backups/
Thumbs.db
$Recycle.Bin/
package-lock.json
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
bower_components
.bower-cache
.bower-registry
.bower-tmp
package-lock.json
*.code-workspace
*.nfo
.monitor